* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


}
html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  margin-top:80px;
  font-family: 'Poppins', sans-serif;

}

nav {
  background-color: rgb(105, 99, 124, 0.3);
  position: fixed;
  z-index: 10;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
 /* align-items: center;  */
}

nav a {
  background-color: rgb(221, 221, 221);
  text-decoration: none;
  text-align: justify;
  color: black;
  /* height: var(--general-margin);
  line-height: var(--general-margin); */
  vertical-align: middle;
  display: grid;
  place-items: center;
  height: 100px;
  width: 20%;
}

#hero {
  height: 50vh;
  background-image: url("balloons.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#hero-img {
  position: absolute;
  width: 15%;
  top: 620px;
  right: 160px;
  transition: transform 1s;
  border-radius: 50%;
}

#hero-img:hover {
  transform: translateY(180px);
}

main.container {
  width: 90%;
  margin: auto;
  margin-top: 150px;
  padding: 5px;
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.sec-main {
  height: 400px;
  background-color: rgb(224, 224, 224);
  margin: 30px 24px;
  padding: 50px;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}
.footer {
  padding-right: 130px;
  padding-bottom: 50px;
  float: right;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}